<h1>All bookmarks <%= link_to_function "edit", "edit_bookmarks()", :id => "edit_button" %></h1>

<div id="bookmarks">
  <!-- fails gracefully when no bookmarks found -->
  <% @bookmarks.each do |b| %>
    <div class="bookmark" id="bookmark_<%= b.id %>">
      <%= link_to_function image_tag("delete.png", :class => "delete_image", :id => "delete_image_" + b.id.to_s), "delete_bookmark(" + b.id.to_s + ")", :class => "delete_bookmark", :id => "delete_bookmark_" + b.id.to_s %> <%= link_to b.title, b.link, :class => "bookmark_link", :id => "bookmark_link_" + b.id.to_s, :target => "_blank" %><br />
    </div>
  <% end %>
</div>

<% if @bookmarks.nil? || @bookmarks.blank? %>
  <p id="no_bookmarks">No bookmarks found</p>
<% end %>

<!--<%= link_to "Add bookmark", new_bookmark_path, :id => "add_bookmark", :class => "link_button" %>-->
<%= link_to_function "Add bookmark", "insert_add_bookmark_field()", :id => "add_bookmark", :class => "link_button" %>
