<h1>Add bookmark</h1>

<% form_for :bookmark, :url => { :controller => "bookmarks", :action => "create" } do |f| %>

  <%= render "layouts/errors" %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
