<h1>Sign in</h1>
<% form_for :session, :url => login_path, :method => :post do |f| %>
  <%= render "layouts/errors" %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :remember_me, "Remember me?" %>
    <%= f.check_box :remember_me %>
  </div>

  <div class="actions">
    <%= f.submit "Login" %>
  </div>

<% end %>

