html, body {
  background: #ffffff;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;

  /* helps with footer push down */
  min-height: 100%;
  position: relative;
}

#header {
  background: #000000;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 50px;

  /* and a subtle gradient */
  background: -moz-linear-gradient(top, #404040, #000000);
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000));

  height: auto;

  /* bottom round corners */
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/******** footer ************/
#footer {
  /* push it down */
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 45px;
}

#footer hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}

#footer ul {
  text-align: center;
  float: none;
}

#footer ul li {
  display: inline-block;
  list-style-type: none;

  padding-left: 2.5px;
  padding-right: 2.5px;
}

#footer ul li a {
  color: #707070;
}

#footer ul li a:hover {
  color: #555555;
}
/****************************/

/*
 * form styles
 */
.field {
  padding-bottom: 0.5em;
}

.field label {
  float: left;
  text-align: left;
  width: 8em;
  margin-top: 0.5em;
  margin-right: 0em;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  color: #606060;

  padding-top: 30px;
}

p {
  color: #707070;
}

#content {
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 20px;

  /* helps with footer push down */
  padding-bottom: 45px;
}

#content p {
  width: 60%;
}

.greeting {
  color: #ffffff;
  float: right;
  font-size: 15px;
  margin-top: 50px;
  margin-right: 20px;
}

a.greeting:hover {
  color: #bbbbbb;
}

a.link_button, input[type=submit] {
  display: block;
  text-align: center;
  border: 1px;
  border-style: solid;

  font-weight: bold;

  background: #333333;
  color: #ffffff;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

a.link_button:hover, input[type=submit]:hover {
  background: #333333;
}

a#signup_button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  width: 120px;
  font-size: 30px;
}

a#edit_button {
  color: #555555;
  font-size: 12px;
}

a#edit_button:hover {
  color: #333333;
}

a#add_bookmark {
  width: 100px;
}

div#bookmarks {
  margin-bottom: 1em;
  margin-left: 1em;
}

div.bookmark {
  display: block;
}

.bookmark_link {
  color: #707070;
  font-size: 14px;
}

.bookmark_link:hover {
  color: #333333;
}

.delete_image {
  width: 8px;
  height: 8px;
}

.add_done_button {
  float: center;
  width: 50px;
}

/* messages */

div.error, div.info, div.warning {
  padding-bottom: 5px;
  padding-top: 5px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

div.error ul, div.info ul, div.warning ul {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.error {
  background-color: #ffaaaa;
}

div.info {
  background-color: #aaaaff;
}

div.warning {
  background-color: #ffffaa;
}

