<h1>Sign Up</h1>
<% form_for(@user, :url => { :controller => "users", :action => "create" }) do |f| %>
  <%= render "layouts/errors" %> 

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :action => "/signup", :method => "POST" %>
  </div>

<% end %>
