<h1>Bookmarks on the go</h1>
<p>BMarks is currently under heavy development.  Please check back later, or use the contact form to inquire about the approximate time when this service will be ready to use.</p>
<% if not logged_in? %>
  <%= link_to "Sign Up", signup_path, :id => "signup_button", :class => "link_button" %>
<% end %>
