<div id="header">
  <%= link_to image_tag("logo.png", :class => "round", :id => "logo"), home_path %>

  <% if logged_in? %>
    <%= link_to "Logout", logout_path, :class => "greeting" %>
    <p class="greeting">Hello, <%= current_user.name %>! </p>
  <% else %>
    <%= link_to "Login", login_path, :class => "greeting" %>
  <% end %>
</div>
