<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= stylesheet_link_tag "blueprint/screen.css", :media => "screen" %>
    <%= stylesheet_link_tag "custom.css", :media => "screen" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "custom" %>
    <link rel="shortcut icon" href="http://localhost:3000/favicon.png" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <%= render "layouts/header" %>
      <div id="content">
        <%= yield %>
      </div>
      <!--<%= debug(params) if Rails.env.development? %>-->
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
